<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <div class='pane'>
      <h1>Edit Menu Item</h1>
      <form action="{{ url_for('editMenuItem',restaurant_id=restaurant_id,menu_id=menu_id)}}" method='post'>
        <p>Name:</p>
        <input type='text' size='30' name='name' placeholder='{{item.name}}'>
        <p>Description:</p>
        <textarea name='description' rows='5' cols='40' placeholder='{{item.description }}'></textarea>
        <p>Price:</p>
        <input type='text' size='8' name='price' placeholder='{{item.price}}'>
        <p>Course:</p>
        {% if item.course == 'Appetizier' %}
        <p><input type='radio' name='course' value='Appetizer' checked> Appetizer</p>
        {%else%}
        <p><input type='radio' name='course' value='Appetizer'> Appetizer</p>
        {% endif %} {% if item.course == 'Entree' %}
        <p><input type='radio' name='course' value='Entree' checked> Entree</p>
        {%else%}
        <p><input type='radio' name='course' value='Entree'> Entree</p>
        {% endif %} {% if item.course == 'Dessert'%}
        <p><input type='radio' name='course' value='Dessert' checked> Dessert</p>
        {% else %}
        <p><input type='radio' name='course' value='Dessert'> Dessert</p>
        {% endif %} {%if item.course =='Beverage'%}
        <p><input type='radio' name='course' value='Beverage' checked> Beverage</p>
        {% else %}
        <p><input type='radio' name='course' value='Beverage'> Beverage</p>
        {% endif %}
        <input type='submit' value='Edit'>
        <p><a href='{{url_for("showMenu",restaurant_id=restaurant_id)}}'>Cancel</a></p>
      </form>
    </div>
  </body>
</html>
